
<h1 style="text-align: center;">Eat da Burger!</h1>
<div class="row">
  <div class="col-md-6">
<h2 style="text-align: center;">Devour Me!</h2>
</div>
<div class="col-md-6">
<h2 style="text-align: center;">Devoured Burgers!</h2>
</div>
</div>
<div class="row">
  <div class="col-md-6">
<ul style="text-align: center;">
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class="col-md-6">


<ul style="text-align: center;">
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>

<h2 style="text-align: center;">Add a Burger</h2>
<form class="create-form" style="text-align: center;">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <input type="radio" name="devour" value="0" checked> Eat Me!<br>
    <input type="radio" name="devour" value="1"> Already Eaten!
  </div>

  <button type="submit">Add Burger</button>
</form>
